@import 'tailwindcss';

@theme {
  --color-tumBlue: #0065bd;
  --color-tumSecondary: #003359;
  --color-tumAccent: #64a0c8;
  --color-card: #f5f5f5;
}

body {
  background-color: #ffffff;
  color: rgb(15 23 42);
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
